.header>p {
    margin-top: 0;
    margin-bottom: 5px;

}

.mySlides_fade {
    color: white;
    text-align: center;
    padding: 10px;
}

.mySlides_fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.brand_logos {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    background-color: #e6e6e6;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.brand_logos>div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-left: 5%;
}

.brand_logos img {
    height: 30px;
    padding: 5px 15px;
    border-right: 0.5px solid #bebebe;
}

.brand_logos img:hover {
    background-color: #bebebe;
}

.nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin-top: 100px;
    width: 98%;
    margin: auto;
}

.nav>img {
    height: 100%
}

.nav div img {
    height: 20px;
    display: block;
    margin: auto;
}

.nav button {
    border: none;
    cursor: pointer;
    height: 40%;
    margin-top: 10%;
    background-color: white;
}

.nav form {
    margin-top: 20px;
    height: 30px;
    flex-grow: 1;
    margin: 20px 5px 20px 40px;
    text-align: center;
}

#search {
    display: flex;
    justify-content: space-around;
    margin: auto 50px;
}

#search input[type="search"] {
    margin-right: 5px;
    width: 70%;
    border: 1px solid #555;
    display: block;
    padding: 9px 40px 9px 10px;
}

#search input[type="submit"] {
    text-indent: -999px;
    background: transparent url("Images/Search Icon.png") no-repeat left;
    width: 20%;
    border: none;
}

/* #search_icon{
    height:25px;
    margin:25px 40px 20px 0;
} */
.nav div {
    display: flex;
    width: 20%;
    justify-content: space-around;
    margin-top: -10px;
    margin-right: 10px;
}

.nav div button {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 2fr 1fr);
}

.nav div h3 {
    margin-top: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3a2a7c;
}

#hamburger {
    display: none;
    margin-top: 2%;
}

/* categories */

.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: #3a2a7c 0px 10px 10px -12px;
    width: 98%;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.categories p:hover {
    color: #3a2a7c;
    text-decoration: underline;
    cursor: pointer;
}

/* content */

.content_top {
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.content_top h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #3a2a7c;
}

.functions {
    width: 40%;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.functions>select {
    text-align: center;
    background-color: #3a2a7c;
    color: white;
    border-radius: 15px;
    padding: 5px;
    width: 150px;
}

.functions>select>option:hover {
    text-decoration: underline;
}

.content .sidebar {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 12%;
    padding: 5px 20px;
}

.sidebar h2 {
    color: #3a2a7c;
}

.sidebar>p:hover {
    color: #3a2a7c;
    text-decoration: underline;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* product cards */
#products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 85%;
}

/* footer */
.footer1 {
    background-color: #f5f5f5;
}

.footer1>div {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer1 p,
h3 {
    cursor: pointer;
}

.footer1 p {
    margin-top: -10px;
}

.footer1 p:hover {
    text-decoration: underline;
}

.logos_footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    width: 100%;
    margin: auto;
}

.logos_footer img {
    height: 50px;
}

.footer3 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer3 p {
    border-right: 0.5px solid grey;
    margin-top: 20px;
    padding: 0 10px
}

.footer3 p:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .categories {
        display: none;
    }

    #hamburger {
        display: block;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .categories {
        display: none;
    }

    #hamburger {
        display: block;
    }
}